<style>
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to left, #2bc0e4, #eaecc6);
    }
</style>

<div class="fixed bottom-12 right-12 mr-3 mb-3 z-40">
    <input class="menu-checkbox" id="menu" type="checkbox" name="menu" />

    <nav class="menu">
        <label class="menu-dots" for="menu">
            <span class="menu-dot"></span>
            <span class="menu-dot"></span>
            <span class="menu-dot"></span>
        </label>
        <ul class="menu-items">
            <li class="menu-item ml-12 pl-2" (click)="svgAction('top')">
                <!-- top icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 64 64" fill="none">
                    <path fill="#ffffff"
                        d="M32 2L16 18h10v15h12V18h10zm0 60c-3.308 0-6-2.848-6-6.348v-9.307C26 42.848 28.692 40 32 40s6 2.848 6 6.346v9.307C38 59.152 35.308 62 32 62m0-18.617c-1.654 0-3 1.33-3 2.963v9.307c0 1.633 1.346 2.965 3 2.965s3-1.332 3-2.965v-9.307c0-1.633-1.346-2.963-3-2.963M22 40H10v3h4.5v19h3V43H22zm26 0h-6v22h3v-9.309h3c3.308 0 6-2.848 6-6.348C54 42.846 51.308 40 48 40m0 9.309h-3v-5.926h3c1.654 0 3 1.328 3 2.961s-1.346 2.965-3 2.965" />
                </svg>
            </li>
            <li class="menu-item text-gray-500 pointer-events-none cursor-not-allowed">
                <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M6.5 15.25V15.25C5.5335 15.25 4.75 14.4665 4.75 13.5V6.75C4.75 5.64543 5.64543 4.75 6.75 4.75H13.5C14.4665 4.75 15.25 5.5335 15.25 6.5V6.5">
                    </path>
                    <rect width="10.5" height="10.5" x="8.75" y="8.75" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.5" rx="2"></rect>
                </svg>
            </li>
            <li class="menu-item ml-10 text-gray-500 pointer-events-none cursor-not-allowed">
                <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-width="1.5"
                        d="M19.25 10C19.25 12.7289 17.85 15.25 16.5 15.25C15.15 15.25 13.75 12.7289 13.75 10C13.75 7.27106 15.15 4.75 16.5 4.75C17.85 4.75 19.25 7.27106 19.25 10Z">
                    </path>
                    <path stroke="currentColor" stroke-width="1.5"
                        d="M16.5 15.25C16.5 15.25 8 13.5 7 13.25C6 13 4.75 11.6893 4.75 10C4.75 8.31066 6 7 7 6.75C8 6.5 16.5 4.75 16.5 4.75">
                    </path>
                    <path stroke="currentColor" stroke-width="1.5"
                        d="M6.75 13.5V17.25C6.75 18.3546 7.64543 19.25 8.75 19.25H9.25C10.3546 19.25 11.25 18.3546 11.25 17.25V14.5">
                    </path>
                </svg>
            </li>
            <li class="menu-item" (click)="svgAction('login')">
                <!-- Login icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                    <path fill="none" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                        d="M25.36 20.372v8.163h9.524v9.523h8.162V20.372zM24.453 4.5a19.5 19.5 0 0 0 0 39v-9.07a10.43 10.43 0 0 1 0-20.86z" />
                </svg>
            </li>
            <li class="menu-item ml-10 text-gray-500 pointer-events-none cursor-not-allowed">
                <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M19.25 19.25L15.5 15.5M4.75 11C4.75 7.54822 7.54822 4.75 11 4.75C14.4518 4.75 17.25 7.54822 17.25 11C17.25 14.4518 14.4518 17.25 11 17.25C7.54822 17.25 4.75 14.4518 4.75 11Z">
                    </path>
                </svg>
            </li>
            <li class="menu-item ml-12 pl-2 mb-3" (click)="svgAction('bottom')">
                <!-- Bottom Icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 65 65">
                    <!-- Arrow pointing down -->
                    <path fill="#ffffff" d="M32 33L48 17H38V2H26v15H16z" />

                    <!-- Letter L -->
                    <path fill="#ffffff" d="M12 40h3v19h9v3H12V40z" />

                    <!-- Letter O -->
                    <path fill="#ffffff"
                        d="M26 46c0-3.308 2.692-6 6-6s6 2.692 6 6v10c0 3.308-2.692 6-6 6s-6-2.692-6-6V46m3 0v10c0 1.654 1.346 3 3 3s3-1.346 3-3V46c0-1.654-1.346-3-3-3s-3 1.346-3 3z" />

                    <!-- Letter W (M flipped 180 degrees) -->
                    <g transform="translate(46.5, 51) rotate(180)">
                        <path fill="#ffffff" d="M-6.5 -11h3v22h-3v-15l3 15h3l3-15v15h3v-22h-3l-3 15l-3-15z" />
                    </g>
                </svg>
            </li>
        </ul>
        <label for="menu" class="menu-closer-overlay"></label>
    </nav>
</div>