<main>
    <app-sheet-connector [isConnected]="isConnected" [sheetUrl]="sheetUrl" [isConnecting]="isConnecting"
        (connect)="handleConnectSheet($event, 'connect')" (create)="handleConnectSheet($event, 'create')">
    </app-sheet-connector>
    <app-summary [transactions]="transactions"></app-summary>
    <app-transaction-form [isSaving]="isSaving" (addTransaction)="handleAddTransaction($event)">
    </app-transaction-form>
    <app-transaction-list [transactions]="transactions"></app-transaction-list>
</main>