<!-- <div class="chart-container">
    <svg #pieChartSvg id="pieChart" viewBox="0 0 400 400">

        <circle #centerCircle id="center" cx="200" cy="200" r="150" fill="transparent" stroke="#000" stroke-width="0">
        </circle>

        <text #percentageText id="nTxt" x="200" y="210" text-anchor="middle" font-size="30" font-weight="bold"></text>

    </svg>
</div> -->

<div class="relative">
    <svg #pieChartSvg viewBox="-1 -1 103 103">
        <circle #centerCircle cx="50" cy="50" r="10" fill="transparent" /> 
        <text #percentageText x="51" y="41" fill="red" text-anchor="middle" font-size="8" font-weight="bold">89%</text>
        
    </svg>
    <!-- <svg viewBox="-1 -1 103 103">
        <circle #centerCircle cx="50" cy="50" r="15" stroke="white" fill="red" stroke="#fff" stroke-width="0"/>
        <text #percentageText x="51" y="53" text-anchor="middle" font-size="8" font-weight="bold">89%</text>
        <circle #centerCircle cx="50" cy="50" r="25" stroke="white" fill="transparent" stroke="#fff" stroke-width="23" style="stroke-dashoffset: 10px; stroke-dasharray: 20px, 340px;"/>
    </svg> -->
</div>