@import url("https://fonts.googleapis.com/css?family=Lato:400i,600");

body {
  margin: 0px;
  padding: 20vmin 20vmin 20vmin 30vmin;
  text-align: center;
  font-family: 'Lato';
  color: rgba(0,0,0,0.6);
  font-weight: 400;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
}

.body {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  filter: blur(10px);
  transform: scale(1.2);
  animation: getBlurry 0.5s linear;
  background: transparent;
  background-size: cover;
}

@keyframes getBlurry {
  0% {
    filter: blur(0px);
    transform: scale(1);
  }
  100% {
    filter: blur(10px);
    transform: scale(1.2);
  }
}

.chat {
    position: relative;
    display: inline-block;
    width: 40vw;
    min-width: 400px;
    max-width: 80%;
    animation: popFromBottom 0.5s ease-in-out;
}

.blur-out {
  animation: getBlurry 0.6s ease-in-out reverse backwards;
}

.pop-in {
  animation: popFromBottom 0.5s ease-in-out forwards;
}

.pop-out {
  animation: popToBottom 0.5s ease-in-out forwards;
}

@keyframes popFromBottom {
  0% {
    transform: translateY(300px) scale(0);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes popToBottom {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(300px) scale(0.9);
  }
}

img {
    height: 22vmin;
    margin-left: -30%;
}

.profile {
    display:  inline-block;
    width: 22vmin;
    height: 22vmin;
    border-radius:  50%;
    overflow:  hidden;
    position: absolute;
    left: -16vmin;
    top: -1vmin;
    border: 1vmin solid #fff;
}

.message {
    background: #ffe271;
    padding: 2vmin 5vmin 2vmin 10vmin;
    border-radius: 0px 50px 50px 0px;
    font-size: 3vmin;
    text-align: left;
}

.user {
  text-align: left;
  padding: 2px 30px 5px 60px;
  border-radius: 0px 0px 20px;
  font-size: 3.2vmin;
  background: #fff;
  color: #83aebd;
  display: inline-block;
  vertical-align: top;
  font-weight: 600;
  font-style: normal;
}


/*Toast styles*/

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  0% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(50px) scale(0.95);
  }
}

.animate-slide-in {
  animation: slideInRight 0.4s ease-out forwards;
}

.animate-slide-out {
  animation: slideOutRight 0.4s ease-in forwards;
}